body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Navbar start*/
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: right;
  list-style: none;
}

.navbar ul {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 1.5em  1.5em;
}

.navbar a:hover {
  color: black;
  background-color: white;
}

/* Navbar end*/
/* VIEW BOOK PAGE START*/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 30px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.grid-container .grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: solid 1px black;
  background-color: burlywood;
}

.show_book_details {
  float: right;
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

/* Book main page end*/
/* LOGIN PAGE START*/
.sign-in-btn {
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
}

.login-form {
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  text-align: center;
  border: solid 3px black;
}

.login-form h2 {
  background: black;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.login-form .login-form-field {
  display: block;
  width: 80%;
  padding: 10px 30px 10px 30px;
  margin: 10px 20px 10px 20px;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  height: 25px;
  text-align: center;
}

/* LOGIN PAGE END*/
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
  margin: 0;
}

.modal-box .modal-body {
  padding: 2em 1.5em;
}

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

/* VIEW BOOK PAGE END*/
/* REGISTER USER START*/
.register-user {
  margin: 100px;
  text-align: center;
}

.register-user .register-user-form {
  border: 1px solid black;
  padding: 50px;
  margin: 15px;
}

.intro img {
  width: 100%;
  height: 600px;
}

.features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 25px;
}

.features-box {
  background-color: #fafafa;
  padding: 30px;
  margin-bottom: 30px;
  float: left;
  text-align: center;
  min-height: 280px;
  border: 5px;
  border-color: #333;
}

.features-box-heading {
  text-align: center;
}

.more-features {
  background-image: url("/media/laptop-background.png");
  background-repeat: no-repeat;
}

.more-features .more-features-block {
  background-color: wheat;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  margin: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.brands img {
  width: 150px;
  height: 150px;
  margin: 25px 50px;
}

.comparision {
  background-color: orange;
  height: 150px;
  margin: 25px;
}

.pricing {
  background-color: green;
  height: 150px;
  margin: 25px;
}

footer .big-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f5f8;
  padding: 2.5em 0 0 0;
}

footer .big-footer .bf-block-1 {
  color: #787f8c;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

footer .small-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dee4ea;
  color: #787f8c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

footer .small-footer .block-1 {
  margin: 15px;
}
/*# sourceMappingURL=indexPage.css.map */