@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Navbar start*/
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: right;
  list-style: none;
}

.navbar ul {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 1.5em  1.5em;
}

.navbar a:hover {
  color: black;
  background-color: white;
}

/* Navbar end*/
/* VIEW BOOK PAGE START*/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 30px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.grid-container .grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: solid 1px black;
}

.show_book_details {
  float: right;
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.book_details_popup {
  background: #00bfff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.book_details_popup.is-on {
  opacity: 1;
  visibility: visible;
}

.book_details_popup.is-on .modal-box {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.book_details_popup .modal-box {
  background: #fff;
  position: absolute;
  top: -50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  width: 40%;
  height: 40%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

/* Book main page end*/
/* LOGIN PAGE START*/
.sign-in-btn {
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
}

.login-form {
  width: 30%;
  padding: 20px;
  background: #FFFFFF;
  margin: 40px auto;
  margin-top: 150px;
  text-align: center;
  border: solid 3px black;
}

.login-form h2 {
  background: black;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  margin: -20px -20px 20px -20px;
}

.login-form .login-form-field {
  display: block;
  width: 80%;
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 10px 20px;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  height: 25px;
  text-align: center;
}

/* LOGIN PAGE END*/
/* VIEW BOOK PAGE END*/
/* REGISTER USER START*/
.register-user {
  margin-top: 100px;
  text-align: center;
}

.register-user .register-user-form {
  border: 1px solid black;
  padding: 15px;
  margin: auto;
  width: 30%;
}

.intro img {
  width: 100%;
  height: 600px;
}

.features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.features-box-heading {
  text-align: center;
  padding-bottom: 40px;
}

.features-box-heading h2 {
  font-size: 40px;
  font-family: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.7em;
  color: #404040;
  font-weight: 400;
}

.features-box-heading p {
  font-size: 16px;
  color: #404040;
  font-weight: normal;
  line-height: 1.7;
  margin: 15px 0 25px 0;
}

.box {
  background-color: #fafafa;
  padding: 30px;
  text-align: center;
  min-height: 250px;
  border: 5px;
  border-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box i {
  font-size: 35px !important;
  color: navy;
}

.box h3 {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}

.box p {
  width: 100%;
  margin-bottom: 0;
  color: #404040;
}

.more-features-section {
  background-color: #efefef;
  background-image: url("/media/laptop-background.png");
  background-repeat: no-repeat;
  height: 100%;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 68%;
  background-position: -20% center;
  overflow: visible;
}

.more-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.more-features div {
  width: 100%;
}

.more-features .tools-content {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: -8px 10px 36px 5px rgba(59, 70, 78, 0.15);
          box-shadow: -8px 10px 36px 5px rgba(59, 70, 78, 0.15);
  padding: 4em 5em;
  width: 80%;
}

.tools-content h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0 20px 0;
}

.tools-content p {
  color: #404040;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
  margin: 15px 0 25px 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.tools-content a {
  display: inline-block;
  border: none;
  background-image: linear-gradient(30deg, #1cb5e0 0, #1cb5e0 55%, #263d8a 90%);
  background-position-x: 100%;
  background-position-y: 0;
  background-size: 200% 200%;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  -webkit-box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
          box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  letter-spacing: 2px;
  padding: 10px 25px;
}

.tools-content .fa-caret-right {
  display: inline;
  color: #ffd400;
  font-weight: 600;
}

.table i {
  font-size: 20px;
  vertical-align: middle;
  color: #036db4;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table tr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  vertical-align: middle;
}

.table h6 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  display: inline-block;
}

table h6 {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 15px 0 0 0;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(20vh - 60px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fefefe;
  padding-bottom: 4em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands-img {
  min-width: 50px;
  display: inline-block;
  height: auto;
  max-height: 30px;
  padding: 0px 47px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row-1 h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 2em;
  -webkit-font-smoothing: auto;
  text-align: center;
}

.row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #787f8c;
}

.row-2 p {
  margin-bottom: 40px;
  color: #404040;
}

.row-2 h4 {
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}

.row-2 h6 {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 15px 0 0 0;
}

.row-2 img {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: inline-block;
  margin-right: 20px;
  max-height: 36px;
}

.row-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 15px;
}

.row-3 img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-right: 20px;
  max-height: 36px;
}

.row-3 i {
  font-size: 18px;
  color: #1e3240;
}

.row-3 p {
  margin-bottom: 40px;
}

.row-3 h6 {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 15px 0 0 0;
}

.row-4 {
  padding-top: 4em;
  text-align: center;
}

.pricing {
  text-align: center;
  margin: auto;
  color: #787f8c;
}

.pricing h4 {
  font-size: 36px;
  margin: 0 0 1em;
  -webkit-font-smoothing: auto;
  margin-bottom: 0.7em;
  background-color: #fff;
  padding-top: 0;
}

.pricing p {
  color: #404040;
  font-size: 16px;
  font-weight: normal;
  line-height: 3;
  padding-left: 60px;
  margin: 15px 0 25px 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.pricing img {
  width: 3%;
  padding-right: 22px;
}

footer .small-footer-bg-color {
  background-color: #dee4ea;
}

footer .big-footer-bg-color {
  background-color: #f2f5f8;
}

footer .big-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f5f8;
  padding: 2em 0 2em 0;
}

footer .big-footer .bf-block-1 {
  color: #787f8c;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

footer .small-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dee4ea;
  color: #787f8c;
  height: 42px;
}

footer .small-footer .small-footer-block {
  margin: 10px;
}

footer .small-footer .small-footer-block a {
  color: #787f8c;
  font-size: 14px;
  text-decoration: none;
}

footer .small-footer .small-footer-block .footer-small-contact a {
  color: #9499a3;
  font-size: 12px;
}

.footer-big-features-list {
  text-transform: uppercase;
}

.footer-big-features-list h5 {
  font-size: 14px;
  color: #32323a;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.7px;
}

.footer-big-features-list h6 {
  margin-bottom: 8px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-big-features-list h6 a {
  text-decoration: none !important;
}

.footer-big-features-list a {
  color: #777;
}

#logo-footer {
  min-width: 140px;
  width: 140px;
}

#logo-footer img {
  margin-top: 12px;
  vertical-align: middle;
}

.logo-footer-block i {
  background-color: transparent;
  padding: 5px 5px;
  color: #777;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 2px;
}

section {
  padding-bottom: 4em;
  padding-top: 4em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-button {
  display: inline-block;
  border: none;
  background-image: linear-gradient(30deg, #1cb5e0 0, #1cb5e0 55%, #263d8a 90%);
  background-position-x: 100%;
  background-position-y: 0;
  background-size: 200% 200%;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  -webkit-box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
          box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  letter-spacing: 2px;
  padding: 10px 25px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*# sourceMappingURL=indexPage.css.map */