@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Navbar start*/
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: right;
  list-style: none;
}

.navbar ul {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 1.5em  1.5em;
}

.navbar a:hover {
  color: black;
  background-color: white;
}

/* Navbar end*/
/* VIEW BOOK PAGE START*/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 30px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.grid-container .grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: solid 1px black;
}

.show_book_details {
  float: right;
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.book_details_popup {
  background: #00bfff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.book_details_popup.is-on {
  opacity: 1;
  visibility: visible;
}

.book_details_popup.is-on .modal-box {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.book_details_popup .modal-box {
  background: #fff;
  position: absolute;
  top: -50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  width: 40%;
  height: 40%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

/* Book main page end*/
/* LOGIN PAGE START*/
.sign-in-btn {
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
}

.login-form {
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  margin-top: 200px;
  text-align: center;
  border: solid 3px black;
}

.login-form h2 {
  background: black;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.login-form .login-form-field {
  display: block;
  width: 80%;
  padding: 10px 30px 10px 30px;
  margin: 10px 20px 10px 20px;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  height: 25px;
  text-align: center;
}

/* LOGIN PAGE END*/
/* VIEW BOOK PAGE END*/
/* REGISTER USER START*/
.register-user {
  margin-top: 100px;
  text-align: center;
}

.register-user .register-user-form {
  border: 1px solid black;
  padding: 15px;
  margin: auto;
  width: 30%;
}

.intro img {
  width: 100%;
  height: 600px;
}

.features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 25px;
}

.features-box {
  background-color: #fafafa;
  padding: 30px;
  margin-bottom: 30px;
  float: left;
  text-align: center;
  min-height: 280px;
  border: 5px;
  border-color: #333;
}

.features-box-heading {
  text-align: center;
}

.features-box-heading i {
  font-size: 35px !important;
  color: orangered;
}

.features-box-heading h2 {
  font-size: 40px;
}

.features-box-heading p {
  font-size: 16px;
  color: #404040;
}

.more-features-section {
  background-color: #efefef;
  background-image: url("/media/laptop-background.png");
  background-repeat: no-repeat;
  height: 100%;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100%;
  background-position: -20% center;
  overflow: visible;
}

.more-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.more-features div {
  width: 100%;
}

.more-features .tools-content {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: -8px 10px 36px 5px rgba(59, 70, 78, 0.15);
          box-shadow: -8px 10px 36px 5px rgba(59, 70, 78, 0.15);
  padding: 4em 5em;
  width: 50%;
}

.tools-content h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0 20px 0;
}

.tools-content p {
  color: #404040;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
  margin: 15px 0 25px 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.tools-content a {
  display: inline-block;
  border: none;
  background-image: linear-gradient(30deg, #1cb5e0 0, #1cb5e0 55%, #263d8a 90%);
  background-position-x: 100%;
  background-position-y: 0;
  background-size: 200% 200%;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  -webkit-box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
          box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  letter-spacing: 2px;
  padding: 10px 25px;
}

i.tools-content {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  color: #036db4;
  font-weight: 500;
}

.tools-content .fa-caret-right {
  display: inline;
  color: #ffd400;
  font-weight: 600;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  margin: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.brands img {
  width: 150px;
  height: 150px;
  margin: 25px 50px;
}

.comparision-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 10px;
}

.pricing {
  text-align: center;
  margin: auto;
}

footer .big-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f5f8;
  padding: 2.5em 0 0 0;
}

footer .big-footer .bf-block-1 {
  color: #787f8c;
}

footer .small-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dee4ea;
  color: #787f8c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

footer .small-footer .block-1 {
  margin: 15px;
}

section {
  padding-bottom: 5em;
  padding-top: 5em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*# sourceMappingURL=indexPage.css.map */