@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Navbar start*/
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: right;
  list-style: none;
}

.navbar ul {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 1.5em  1.5em;
}

.navbar a:hover {
  color: black;
  background-color: white;
}

/* Navbar end*/
/* VIEW BOOK PAGE START*/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 30px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.grid-container .grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: solid 1px black;
}

.show_book_details {
  float: right;
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.book_details_popup {
  background: #00bfff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.book_details_popup.is-on {
  opacity: 1;
  visibility: visible;
}

.book_details_popup.is-on .modal-box {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.book_details_popup .modal-box {
  background: #fff;
  position: absolute;
  top: -50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  width: 40%;
  height: 40%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

/* Book main page end*/
/* LOGIN PAGE START*/
.sign-in-btn {
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
}

.login-form {
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  margin-top: 200px;
  text-align: center;
  border: solid 3px black;
}

.login-form h2 {
  background: black;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.login-form .login-form-field {
  display: block;
  width: 80%;
  padding: 10px 30px 10px 30px;
  margin: 10px 20px 10px 20px;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  height: 25px;
  text-align: center;
}

/* LOGIN PAGE END*/
/* VIEW BOOK PAGE END*/
/* REGISTER USER START*/
.register-user {
  margin-top: 100px;
  text-align: center;
}

.register-user .register-user-form {
  border: 1px solid black;
  padding: 15px;
  margin: auto;
  width: 30%;
}
/*# sourceMappingURL=main.css.map */