body {
  font-family: "Inter", sans-serif;
}

/* Book main page start*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.show_book_details {
  float: right;
}

/* Book main page end*/
