<nav class="navbar">
  <ul>
    <li><a href="/index" class="nav-link">Home</a></li>
    <li><a href="/Book" class="nav-link">Books</a></li>
    <li><a href="/register" class="nav-link">Register</a></li>
    <li><a href="{{ path('app_logout') }}" class="nav-link">Logout</a></li>
  </ul>
</nav>
