<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>   
    <link rel="stylesheet" href="sass/main.css" >
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
{{ include('navbar/navbar.html.twig') }}
</header>

{% block body %}{% endblock %}


{% block javascripts %}
  <script src="js/app.js"></script>
{% endblock %}
</body>
</html>