{% extends 'base.html.twig' %}

{% block title %}
	Library management system
{% endblock %}

  
    {% block stylesheets %}
       <link rel="stylesheet" href="sass/indexPage.css"> 
       <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>      
    {% endblock %}

{% block body %}
    <section class="intro">
        
            <img src="/media/image-1.jpg"> 
            {# <img src="/media/image-2.jpg">      
            <img src="/media/image-3.jpg">      
            <img src="/media/image-4.jpg"> #}
         
    </section>

    <section class="features">
            <div class="features-box-heading">
                    <h2>Features that help you grow</h2>
                    <p class="text-center">Powerful and intuitive features to make your Sales, Marketing, Customer Success teams more productive and effective.</p>
            </div>

            <div class="features-grid">
                    <div class="features-box">
                        <div class="box">
                        <i class="fas fa-filter"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    </div>

                    <div class="features-box">
                        <div class="box">
                        <i class="fas fa-long-arrow-alt-up"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    </div>

                    <div class="features-box">
                        <div class="box">
                      <i class="fas fa-plus"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    </div>

                    <div class="features-box">
                        <div class="box">
                        <i class="far fa-envelope"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    </div>

                    <div class="features-box">
                        <div class="box">
                       <i class="fas fa-sync-alt"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    </div>

                    <div class="features-box">
                        <div class="box">
                       <i class="fas fa-check"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    </div>

                    <div class="features-box">
                        <div class="box">
                        <i class="fas fa-tools"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    </div>

                    <div class="features-box">
                        <div class="box">
                       <i class="fab fa-expeditedssl"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    </div>

                    <div class="features-box">
                        <div class="box">
                        <i class="fas fa-info"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    </div>
            </div>
    </section>

    <section class="more-features-section">
    
        <div class="more-features">
                <div></div>
         
                <div class="tools-content">
                                <header>
                                    <h3><i class="fas fa-caret-right"></i> A platform for the whole team
                                    </h3>
                                </header>
                                <p>SalesSeek is 'remote ready' out of the box. That means you can continue to grow revenue while your business and team transition to support 'Working From Home'.</p>
                                <p>Keep your customer data and teams aligned and in-sync. <br>Here's how SalesSeek helps:</p>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><i class="fas fa-user-friends"></i>  <h6>Contact Management</h6>
                                            
                                            </td>
                                            <td><i class="fas fa-history"></i>  <h6>Relationship History</h6>
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fas fa-reply"></i>   <h6>Email Archive</h6>
                                              
                                            </td>
                                            <td><i class="fas fa-arrow-up"></i> <h6>Simple Data Upload</h6>
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="far fa-chart-bar"></i>  <h6>Marketing ROI</h6>
                                               
                                            </td>
                                            <td><i class="fas fa-globe"></i>    <h6>Web Tracking</h6>
                                             
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p><b>+</b> Unlimited Contact, Deal, and Activity records. Discover more features and all our integrations:</p>
                                <a href="/features">More features <i class="fas fa-caret-right"></i></a>              

                <div> 
        </div>
    </section>

    <section class="brands">
            <img src="/media/logos/logo-image-1.jpg"> 
            <img src="/media/logos/logo-image-2.png"> 
            <img src="/media/logos/logo-image-3.png">
            <img src="/media/logos/logo-image-4.png"> 
            <img src="/media/logos/logo-image-5.jpeg"> 
            <img src="/media/logos/logo-image-6.jpg"> 
    </section>

    <section class="comparision">
    
         <div class="comparision-grid">
            <div class="comparision-block"> <h3> Why our customers love us </h3> </div>
            <div class="comparision-block"> 
                <div>
                    <h4>
                         <i class="fas fa-quote-left"> </i>Incredibly easy to use and responsive support
                         <i class="fas fa-quote-right"></i>
                    </h4>
                    <p>SalesSeek has been an excellent tool from a Sales and Marketing perspective. It allows both teams to work in sync and gives an excellent overview into the running of the business. You cannot fault the staff, who are always on hand
                        to help and are extremely efficient at getting your problem solved.<span>
								<br><br>

							</span></p>
                    <img alt="fudge animation logo"  src="/media/fudge-animation-logo-black.png">
                    <h6>Charlie Vaughan. Marketing Exec
                        <span>
								<br>
							</span>at
                        <a href="#">Fudge Animation</a>
                    </h6>
                </div>
            
             </div>
            <div class="comparision-block"> 
                <div>
                    <h4>
                        <i class="fas fa-quote-left"></i> </i>Some of the best software customer service I've ever seen.
                        <i class="fas fa-quote-right"></i>
                    </h4>
                    <p>Solid CRM with a plethora of features and integrations to help me automate my work. Incredible customer service that always gets back to me quickly and thoroughly, ensuring all questions I have are followed up on.
                    </p>
                    <img alt="Bespoke"  style="margin-top: -6px" src="/media/bespoke-logo.png">
                    <h6>Max K. Manager
                        <span>
								<br>
							</span>at
                        <a href="#">Bespoke San Francisco</a>
                    </h6>
                </div>
            
            </div>  <hr>
            {# <div class="comparision-block"> block </div>
            <div class="comparision-block"> block </div>
            <div class="comparision-block"> block </div>
            <div class="comparision-block"> block </div>  <hr> #}
        </div>

    </section>

    <section class="pricing">
         <h4>Get Started with SalesSeek Today</h4>
         <div class="pricing-cta-arrow">
                 <img src="/media/black-arrow.png" alt="Black Arrow">
                 <a class="" href="/pricing">Create Account <i class="fas fa-caret-right"></i></a>
        </div>

         <p>Evaluate for 14 Days • Unlimited Access</p>
    </section>


    <footer class="footer">
    
        <div class="big-footer container">

            <div class="bf-block-1"> 
            <a href="/" id="logo-footer"><img alt="Logo" src="/media/dummy-logo.gif"></a>
            <i class="fab fa-linkedin-in"></i> <i class="fab fa-youtube"></i> <i class="fab fa-twitter"></i> </div>
            <div class="bf-block-1"> 
           
                <ul class="footer-big-features-list list-unstyled">
                    <h5>SalesSeek</h5>
                    <h6><a href="/company/">About Us &gt;</a></h6>
                    <h6><a href="/company/">Press &gt;</a></h6>
                    <h6><a href="/partners/">Partners &gt;</a></h6>
                    <h6><a href="#">Blog &gt;</a></h6>
                </ul>
            
             </div>
            <div class="bf-block-1"> 
                <ul class="footer-big-features-list list-unstyled">
                    <h5>Product</h5>
                    <h6><a href="/features/">Features &gt;</a></h6>
                    <h6><a href="/pricing/">Pricing &gt;</a></h6>
                    <h6><a href="/integrations/">Apps &amp; Integrations &gt;</a></h6>
                    <h6><a href="/automations/">Automations &gt;</a></h6>
                </ul>
             </div>
            <div class="bf-block-1"> 
                <ul class="footer-big-features-list list-unstyled">
                    <h5>Discover</h5>
                    <h6><a href="/implementation/">Implementation &gt;</a></h6>
                    <h6><a href="/crm-comparison/">CRM Comparison &gt;</a></h6>
                    <h6><a href="#">Reviews &gt;</a></h6>
                    <h6><a href="/mobile/">Get Mobile &gt;</a></h6>
                </ul>
            </div>
            <div class="bf-block-1"> 
                <ul class="footer-big-features-list list-unstyled col-xs-6 col-md-6">
                    <h5>Help</h5>
                    <h6><a href="/demo/">View Demo &gt;</a></h6>
                    <h6><a href="#">Support Centre &gt;</a></h6>
                    <h6><a href="#">Developer API &gt;</a></h6>
                    <h6><a href="/contact/">Contact &gt;</a></h6>
                </ul>
            </div>

        </div>

        <div class="small-footer">

            <div class="block-1"> 
               <a href="/terms/">Terms</a> | <a href="/security/">Security</a> | <a href="/privacy/">Privacy</a> | <a href="/gdpr-addendum/">GDPR Policy</a>         
            </div>
            <div class="block-1"> 
                        <a class="footer-small-contact" href="#">hello@salesseek.com</a> |
                        <a class="footer-small-contact" href="#">Support</a>
            </div>
            <div class="block-1"> 
                © 2020 libsms. All Rights Reserved.       
            </div>
    </div>
    </footer>
 

{% endblock %}


{% block slide_js_css_cdn %}
           
                            
{% endblock  slide_js_css_cdn %}



{# <section>

<i class="fas fa-phone-alt"></i>

<i class="fas fa-list-ul"></i>

<i class="fas fa-bars"></i>







<i class="fas fa-poll"></i>

<i class="fas fa-unlock-alt"></i>




<i class="fas fa-quote-left"></i>]

<i class="fas fa-quote-right"></i>

</section> #}