{% extends 'base.html.twig' %}
{% block title %}
	Library management system
{% endblock %}

    {% block stylesheets %}
       <link rel="stylesheet" href="sass/indexPage.css"> 
       <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>      
    {% endblock %}

{% block body %}
    <section class="intro">
        
            <img src="/media/image-1.jpg"> 
            {# <img src="/media/image-2.jpg">      
            <img src="/media/image-3.jpg">      
            <img src="/media/image-4.jpg"> #}
         
    </section>

    <section class="features">
            <div class="features-box-heading container">
                    <h2>Features that help you grow</h2>
                    <p class="text-center">Powerful and intuitive features to make your Sales, Marketing, Customer Success teams more productive and effective.</p>
            </div>

            <div class="features-grid container">
                    
                        <div class="box">
                        <i class="fas fa-filter"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                   

                  
                        <div class="box">
                        <i class="fas fa-long-arrow-alt-up"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    
                   
                        <div class="box">
                      <i class="fas fa-plus"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    

                   
                        <div class="box">
                        <i class="far fa-envelope"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                  

                   
                        <div class="box">
                       <i class="fas fa-sync-alt"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    

                   
                        <div class="box">
                       <i class="fas fa-check"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    

                   
                        <div class="box">
                        <i class="fas fa-tools"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    

                    
                        <div class="box">
                      <i class="fas fa-lock"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                   

                   
                        <div class="box">
                        <i class="fas fa-info"></i>
                            <h3>Visual Sales Funnel</h3>
                            <p>Unique to SalesSeek and better than a Kanban card, get Deal value, activity, and momentum in a single glance</p>
                        </div>
                    
            </div>
    </section>

    <section class="more-features-section">  
        <div class="more-features  container">
                <div></div>        
                <div class="tools-content">
                                <header>
                                    <h3><i class="fas fa-caret-right"></i> A platform for the whole team </h3>                                  
                                </header>
                                <p>SalesSeek is 'remote ready' out of the box. That means you can continue to grow revenue while your business and team transition to support 'Working From Home'.</p>
                                <p>Keep your customer data and teams aligned and in-sync. <br>Here's how SalesSeek helps:</p>
                                <table class="table">
                                    <tbody>
                                         <tr>
                                             <td><i class="fas fa-user-friends"></i> <h6>Contact Management</h6> </td>                      
                                             <td><i class="fas fa-history"></i> <h6>Relationship History</h6> </td>
                                         </tr>
                                         <tr>
                                             <td><i class="fas fa-reply"></i>  <h6>Email Archive</h6> </td>                          
                                             <td><i class="fas fa-arrow-up"></i><h6>Simple Data Upload</h6> </td>                                    
                                        </tr>
                                        <tr>
                                             <td><i class="fas fa-chart-bar"></i> <h6>Marketing ROI</h6> </td>      
                                             <td><i class="fas fa-globe"></i> <h6>Web Tracking</h6> </td>                                  
                                        </tr>
                                    </tbody>
                                </table>
                                <p><b>+</b> Unlimited Contact, Deal, and Activity records. Discover more features and all our integrations:</p>
                                <a href="/features">More features <i class="fas fa-caret-right"></i></a>              
                <div> 
        </div>
    </section>

    <section class="brands">
     <div class="container">
            <img class="brands-img" src="/media/logos/resdiary-logo-grey.png"> 
            <img class="brands-img" src="/media/logos/westfield-logo.png"> 
            <img class="brands-img" src="/media/logos/husky-finance-logo.png">
            <img class="brands-img" src="/media/logos/bink-logo-grey.png"> 
            <img class="brands-img" src="/media/logos/central-working-logo-grey.png"> 
            <img class="brands-img" src="/media/logos/bio-agency-logo-grey.png"> 
     </div>
    </section>

    <section class="comparision"> 
         <div class="container">
            <div class="comparision-block row-1"> <h3> Why our customers love us </h3></div>
            <div class="comparision-block row-2">  
                <div class="row-2-col-1">
                    <h4>
                         <i class="fas fa-quote-left"> </i>Incredibly easy to use and responsive support
                         <i class="fas fa-quote-right"></i>
                    </h4>
                    <p>SalesSeek has been an excellent tool from a Sales and Marketing perspective. It allows both teams to work in sync and gives an excellent overview into the running of the business. You cannot fault the staff, who are always on hand
                        to help and are extremely efficient at getting your problem solved.<span>
								<br><br>

							</span></p>
                    <img alt="fudge animation logo"  src="/media/fudge-animation-logo-black.png">
                    <h6>Charlie Vaughan. Marketing Exec
                        <span>
								<br>
							</span>at
                        <a href="#">Fudge Animation</a>
                    </h6>
                </div>  
             <div class="row-2-col-2">
                    <h4>
                        <i class="fas fa-quote-left"></i> </i>Some of the best software customer service I've ever seen.
                        <i class="fas fa-quote-right"></i>
                    </h4>
                    <p>Solid CRM with a plethora of features and integrations to help me automate my work. Incredible customer service that always gets back to me quickly and thoroughly, ensuring all questions I have are followed up on.
                    </p>
                    <img alt="Bespoke"  style="margin-top: -6px" src="/media/bespoke-logo.png">
                    <h6>Max K. Manager
                        <span>
								<br>
							</span>at
                        <a href="#">Bespoke San Francisco</a>
                    </h6>
                </div> 
             </div>
            <hr> 
            
            <div class="comparision-block row-3"> 
                <div class="row-3-col-1"> 
                    <p>
                        <i class="fas fa-quote-left"></i> </i>We use SalesSeek as a CRM database for our outbound B2B marketing. For this we use a lot of custom fields, custom filters and custom groups to allow us to target leads accurately and efficiently.
                        SalesSeek is pretty powerful and easy to set up.
                       <i class="fas fa-quote-right"></i>
                    </p>
                    <img alt="Beyond Life logo"  src="/media/beyond-logo.png">
                    <h6>James Dunn at
                        <span>
								<br>
							</span>
                        <a href="#"> Beyond.life</a>
                    </h6>               
                </div>
                <div class="row-3-col-2"> 
                    <p>
                       <i class="fas fa-quote-left"></i> </i>SalesSeek is certainly value for money. They have a proactive approach to making company specific alterations and the customer service is quick and personal.
                        <i class="fas fa-quote-right"></i>
                        <span>
								<br>
								<br>
							</span>
                    </p>
                    <img alt="Szerelmey logo" class="img-responsive" style="margin-top: -5px" src="/media/szerelmey-logo.png">
                    <h6>Jonathan Baker at
                        <span>
								<br>
							</span>
                        <a href="#"> Szerelmey</a>
                    </h6>                
                </div>
                <div class="row-3-col-3"> 
                    <p>
                        <i class="fas fa-quote-left"></i> We have looked at using CRMs in the past but never found one that was simple to use but powerful - We have now, and the support team are always on hand with help and advice. We would recommend SalesSeek
                        for anyone needing powerful CRM with great integrations.
                        <i class="fas fa-quote-right"></i>
                        <span>
							</span>
                    </p>
                    <img alt="Virtual Sales Logo" class="img-responsive" src="/media/vsl-logo.jpg">
                    <h6>Andy Dickens at
                        <span>
								<br>
							</span>
                        <a href="#"> Virtual Sales</a>
                    </h6>
                </div>
            </div> 

            <div class="comparision-block row-4">                             
                    <h4>Reviews offered and verified by</h4>
                    <a href="#">
						<img alt="logo" class="center-block" border="0" src="/media/badge.png">
					</a>                          
            </div>   
            <hr>                    
        </div>
    </section>

    <section class="pricing">
        <div class="container">
            <h4>Get Started with SalesSeek Today</h4>
                 <img id="arrow-image" src="/media/black-arrow.png" alt="Black Arrow">
                 <a class="custom-button" href="/pricing"> Create Account <i class="fas fa-caret-right"></i></a>        
            <p>Evaluate for 14 Days • Unlimited Access</p>
        <div>
    </section>

<footer class="footer">
    <div class="big-footer-bg-color">
        <div class="big-footer container">          
            <div class="bf-block-1 logo-footer-block"> 
            <a href="/" id="logo-footer"><img alt="Logo" src="/media/dummy-logo.gif"></a><br>
            <i class="fab fa-linkedin-in"></i> <i class="fab fa-youtube"></i> <i class="fab fa-twitter"></i> 
            </div>
            <div class="bf-block-1"> 
                <ul class="footer-big-features-list">
                    <h5>SalesSeek</h5>
                    <h6><a href="/company/">About Us &gt;</a></h6>
                    <h6><a href="/company/">Press &gt;</a></h6>
                    <h6><a href="/partners/">Partners &gt;</a></h6>
                    <h6><a href="#">Blog &gt;</a></h6>
                </ul>     
             </div>
            <div class="bf-block-1"> 
                <ul class="footer-big-features-list">
                    <h5>Product</h5>
                    <h6><a href="/features/">Features &gt;</a></h6>
                    <h6><a href="/pricing/">Pricing &gt;</a></h6>
                    <h6><a href="/integrations/">Apps &amp; Integrations &gt;</a></h6>
                    <h6><a href="/automations/">Automations &gt;</a></h6>
                </ul>
             </div>
            <div class="bf-block-1"> 
                <ul class="footer-big-features-list">
                    <h5>Discover</h5>
                    <h6><a href="/implementation/">Implementation &gt;</a></h6>
                    <h6><a href="/crm-comparison/">CRM Comparison &gt;</a></h6>
                    <h6><a href="#">Reviews &gt;</a></h6>
                    <h6><a href="/mobile/">Get Mobile &gt;</a></h6>
                </ul>
            </div>
            <div class="bf-block-1"> 
                <ul class="footer-big-features-list">
                    <h5>Help</h5>
                    <h6><a href="/demo/">View Demo &gt;</a></h6>
                    <h6><a href="#">Support Centre &gt;</a></h6>
                    <h6><a href="#">Developer API &gt;</a></h6>
                    <h6><a href="/contact/">Contact &gt;</a></h6>
                </ul>
            </div>    
    </div>
    </div>
       <div class="small-footer-bg-color">
        <div class="small-footer container">
         
                <div class="small-footer-block"  style="flex-grow: 1;"> 
                    <a href="/terms/">Terms</a> | <a href="/security/">Security</a> | <a href="/privacy/">Privacy</a> | <a href="/gdpr-addendum/">GDPR Policy</a>         
                </div>
                <div class="small-footer-block"  style="flex-grow: 3; text-align:left;"> 
                    <a class="footer-small-contact" href="#">hello@libms.com</a> |
                    <a class="footer-small-contact" href="#">Support</a>
                </div>
                <div class="small-footer-block"  style="flex-grow: 1;text-align:right;"> 
                    © 2020 libms. All Rights Reserved.      
                </div>
           </div>
        </div>
</footer>
{% endblock %}


{# <section>
<i class="fas fa-phone-alt"></i>
<i class="fas fa-list-ul"></i>
<i class="fas fa-bars"></i>    <i class="fas fa-poll"></i>
<i class="fas fa-unlock-alt"></i>
<i class="fas fa-quote-left"></i>
<i class="fas fa-quote-right"></i>
</section> #}